@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Rufina:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-secondary-3 overflow-x-hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rufina", sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
}

@layer utilities {
  .btn_primary {
    @apply bg-primary-1 rounded-lg rounded-tl-none text-white;
  }
  .btn_primary_light {
    @apply bg-primary-2 rounded-lg rounded-tl-none text-white;
  }
  .btn_light {
    @apply border-[1.4px] border-primary-2 text-primary-1 bg-white rounded-lg rounded-tl-none;
  }
  /* .btn_dark_green {
    @apply bg-green-90 px-8 py-4 text-white transition-all hover:bg-black;
  }
  .btn_dark_green_outline {
    @apply border-[1px] border-gray-10 bg-green-90 px-8 py-5 text-white; */

  .container {
    @apply mx-auto w-[85%];
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  /* fonts */
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }
  .regular-60 {
    @apply text-[60px] font-[400] leading-[120%];
  }

  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }

  .regular-32 {
    @apply text-[32px] font-[400];
  }

  .regular-24 {
    @apply text-[24px] font-[400];
  }

  .regular-20 {
    @apply text-[20px] font-[400];
  }

  .regular-18 {
    @apply text-[18px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400];
  }

  .regular-14 {
    @apply text-[14px] font-[400];
  }

  .medium-14 {
    @apply text-[14px] font-[500];
  }
  .medium-18 {
    @apply text-[18px] font-[500];
  }
  .medium-22 {
    @apply text-[22px] font-[500];
  }
  .medium-24 {
    @apply text-[24px] font-[500];
  }

  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%];
  }

  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%];
  }
  .bold-60 {
    @apply text-[60px] font-[700] leading-[120%];
  }

  .bold-52 {
    @apply text-[52px] font-[700] leading-[120%];
  }

  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }
  .bold-36 {
    @apply text-[36px] font-[700] leading-[120%];
  }

  .bold-20 {
    @apply text-[20px] font-[700];
  }

  .bold-18 {
    @apply text-[18px] font-[700];
  }

  .bold-16 {
    @apply text-[16px] font-[700];
  }

  .section__padding {
    @apply py-[70px] lg:py-[150px];
  }

  .scale-animation {
    @apply hover:scale-125 transition-all duration-700;
  }
}

@layer components {
  .home__hero {
    @apply bg-home_hero_mobile lg:bg-home_hero_desktop bg-cover bg-center bg-no-repeat rounded-br-[150px];
  }
  .vase {
    @apply bg-vase_mobile lg:bg-vase_desktop bg-cover bg-center bg-no-repeat rounded-br-[150px];
  }
  .card__image {
    @apply w-full rounded-br-[30px] object-contain scale-animation;
  }

  .price__box {
    @apply absolute top-[25px] left-[28px] z-30 ;
  }

  .price__content {
    @apply bg-secondary-2 border-b-4 border-[#918675] p-2 rounded-[4px] rounded-br-[30px];
  }
  .about {
    @apply bg-about_1_mobile
      md:bg-about_1
      bg-right
      md:bg-center
      bg-contain
      bg-no-repeat
      rounded-md
      max-lg:mt-6
      rounded-tr-[60px]
      h-[300px]
      md:h-[500px]
      w-full
      lg:w-1/2
      overflow-visible;
  }
  .custom-filter__btn {
    @apply relative  w-full min-w-[127px] flex justify-between items-center cursor-default rounded-lg bg-gold text-white font-bold py-2 px-3 text-left shadow-md sm:text-sm border;
  }

  .custom-filter__options {
    @apply absolute  z-[10000] mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 border-none outline-none ring-opacity-5 focus:outline-none sm:text-sm;
  }
}

.page_bg {
  position: relative;
}

.page_bg::before
 {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 53.73%),
    linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 64.5%),
    url("/villas.svg"),
    lightgray 138.914px -144.19px / 92.077% 124.026% no-repeat;
  filter: blur(125px);
  z-index: -1;
}

.custom-filter_container {
  box-shadow:
    0px 4.389px 8.313px 0px rgba(0, 0, 0, 0.02),
    0px 14.742px 27.92px 0px rgba(0, 0, 0, 0.02),
    0px 66px 125px 0px rgba(0, 0, 0, 0.04);
}

.swiper-button-prev,
.swiper-button-next {
  color: #5B656F !important ;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.loader3D {
  width: 50px;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 3s linear infinite;
}

.loader3D::before,
.loader3D::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #5B656F ; 
  border-radius: 15%;
  animation: rotate 5s linear infinite;
}

.loader3D::before {
  transform: rotateX(90deg);
}

.loader3D::after {
  transform: rotateY(90deg);
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}


.swiper-slide:hover {
  cursor: grab;
}

.swiper-slide:active {
  cursor: grabbing;
}